/* CSS Document Author Mark Powell Soft Eng 2 Project 2012*/

/*Top bar for logo*/
.divTopBar {
	   border-bottom:5px solid #E11432;
	    padding:0px;
	    border-left:0px;
	    margin-left:0px;
       
     }
	 
.lightImages {
	   margin-left:auto;
	   margin-right:auto;
       color:#fff;
       padding:15px;
       margin-bottom:45px;
      }
.OnOffBbuttonContainer {
	   width: 700px ;
	   margin-left:auto;
	   margin-right:auto;
	  
       color:#fff;
       padding:15px;
       margin-bottom:15px;
	   
      }
.Onbutton {
	   margin-left:auto;
	   margin-right:auto;
       color:#fff;
       padding:15px;
       margin-bottom:15px;
	   float:left;
      }
.Offbutton {
	   margin-left:auto;
	   margin-right:auto;
       color:#fff;
       padding:15px;
       margin-bottom:15px;
	   float:left;
      }
body {
	text-align: center;

   /*background-color:#ccf;
   letter-spacing:.1em;*/
 }
 p {
   font-style:italic;
   font-family:times,serif;
 } 
 
  /*control panel*/
  
 #WhiteBackgroundRedText
{
background-color:#D6D6D6;
color:#E11432;
font-weight:bold;
border:thick;
border-color:black; 
margin-bottom: 0; 
padding-bottom: 0;
margin-top: 0; 
padding-top: 0; 
}
 #RedBackgroundWhiteText
{
background-color:#E11432;
color:white;
font-weight:bold;
border:thick;
border-color:black; 
margin-bottom: 0; 
padding-bottom: 0;
margin-top: 0; 
padding-top: 0; 
}
#borderRight
{
	border-right:5px solid #E11432;
}
 
